.calculate {
    width: max-content;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
}

.calculate .table tbody td:nth-child(1) {
    min-width: 200px;
}

.calculate .table tbody td:nth-child(2) {
    min-width: 200px;
}
.section {
    text-align: center;
}

.section select {
    padding: 10px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 10px;
}