.registartion-form {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.registartion-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registartion-form form label {
    margin-right: 10px;
}

.registartion-form form input {
    padding: 10px;
    border: 2px solid gray;
    outline: none;
    border-radius: 7px;
    width: 270px;
}

.registartion-form form input[type="submit"] {
    background-color: green;
    color: white;
    font-size: 24px;
    border: 2px solid green;
    cursor: pointer;
}

.registartion-form form table tr {
    height: 70px;
}