.sidebar {
	font-family: "Poppins";
	background-color: rgb(67, 67, 252);
	width: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
	color: white;
	font-size: 20px;

	box-shadow: 2px 2px 8px 2px gray;
}

.sidebar .item {
	margin: 10px 2px;
	cursor: pointer;
	padding: 10px;
	border: 1px solid rgb(67, 67, 252);
}

.sidebar .item:hover {
	background-color: white;
	color: black;
	padding: 10px;
}